* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: yellow;
  width: 100%;
  height: 200px;
  /* margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%; */
}


footer {
  background-color: lightblue;
  width: 100%;
  height: 150px;

}
body {
  margin: 1%;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}


.colonna1 {
  float: left;
  width: 20%;
  height: 300px;
  background: blue;

}

.colonna2 {
  float: left;
  width: 60%;
  height:500px;
  background-color: green;



}

.colonna3 {
  float: right;
  width:20%;
  height: 300px;
  /* background-color: blue; */

}

.sezioni::after{
  content: "";
  display: table;
  clear: both;

}

.prima-sezione {
  float: left;
  width: 100%;
  height: 150px;
  background-color: blue;



}

.seconda-sezione {
  float: right;
  width: 100%;
  height: 150px;
  background-color: lightgrey;

}
